<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>Authenticate via one of the social networks to get started.</p>
</div>


<div>
	<ul class="nav navbar-nav navbar-right">
    <li><%= link_to 'Home', root_path %></li>
    <% if current_user %>
      <li>Signed in as <%= current_user.name %></li>
    <% else %>
      <li><%= link_to "Sign in with Twitter", "/auth/twitter" %></li>
    <% end %>
	</ul>
</div>
